@import "./styles/grid/theme.css";
@import "./styles/toolbar/styles.css";

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

.app-root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1 1 0;
  margin-top: 56px; /* leave space for menu bar */
  min-height: 0;
  width: 100vw;
  height: calc(100vh - 56px);
  overflow: auto;
}
